<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {{!--
    <style>
        body {
            background-color: #000;
            color: #eee;
        }
    </style> --}}
</head>

<body>
    <nav class="teal">
        <div class="nav-wrapper">
            <a href="/dashboard" class="brand-logo center">Career Portal</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a></a>Logged in as {{username}}</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="/dashboard" class="active">Dashboard</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="/password_change"> Change Password </a>
                </li>
            </ul>
        </div>
    </nav>


    <section id="main" class="container">
        <header>
            <h2> Select Students </h2>
        </header>

        <div>
            {{#each Students}}
            <p>
                <input type="checkbox" id="{{this.USN}}" name = "{{this.TestID}}" />
                <label for="{{this.USN}}">{{this.USN}}: {{this.FirstName}} {{this.LastName}}</label>
            </p>
            {{/each}}

            <div class="row uniform">
                <button class="waves-effect waves-light btn teal" onclick="sendStudentList();" id="submit">Add Students</button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col s3 offset-s5">
                <a class="waves-effect waves-light btn teal" href="/dashboard"> Dashboard </a>
            </div>

        </div>

    </section>




    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./materialize/js/materialize.min.js"></script>
    <script>
        $(".button-collapse").sideNav();
    </script>

    <script>
        function sendStudentList() {
            var studentList = "";
            var arr = [];
            var testid;
            $('input[type="checkbox"]').filter(':checked').each(
                function () {
                    studentList += this.id + " ";
                    testid = this.name;
                }
            );

            //arr.push(studentList);

            console.log("TESTID = " + testid);
            $.ajax({
                type: "POST",
                url: "/add_selected_students",
                //contentType: "json",
                dataType: "json",
                data: {
                    list: studentList,
                    testid: testid
                },
                success: function () {
                    //console.log("AJAX done");
                    window.location = "/";
                },
                error: function () {
                    console.log(
                        "\n---------------------------\nAJAX Error: Unable to send Student List\n---------------------------\n"
                    );
                }

            });
        }
    </script>

</body>

</html>