
    <section class="container center row">
        <h2>Dashboard</h2>
        <h3>Welcome {{Username}}!</h3>


        <div class="container center col s12 l6">
            <h4 class="orange-text">Company Tests</h4>

            {{#each Tests}}
                <div class="card center container" style="padding: 2em; margin-left: auto; margin-right: auto;">
                    <h4 class="blue-text">{{this.Name}}</h4>
                    <div class="row center">
                        <h6 class=" center grey-text col s12">by {{this.CompanyName}}</h6>
                    </div>
                    <div class="row">
                        <p class="grey-text col s6">Date: {{this.TestDate}}</p>
                        <p class="grey-text col s6">Time: {{this.TestTime}}</p>
                        <p class="grey-text col s6">Location: {{this.Location}}</p>
                        <p class="grey-text col s6">Cut-Off: {{this.CutOffGPA}}</p>
                    </div>
                    <a class="waves-effect waves-light btn green" href="/test?id={{this.TestID}}" name = {{this.TestID}}> View </a>

                </div>
            {{/each}}
        </div>


        <div class="container col s12 l6">
            <h4 class="orange-text">Here are your details</h4>
            <br>
            <table class="bordered highlight centered">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>USN</td>
                        <td>{{USN}}</td>
                    </tr>

                    <tr>
                        <td>Department</td>
                        <td>{{Department}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="center">
                <br><br>
                <a class="waves-effect waves-light btn teal" href="/report"> Generate Register Report </a>
            </div>


            <div class="center">
                <br><br>
                <a class="waves-effect waves-light btn teal" href="/add_company_test"> Add Company Test </a>
            </div>

            {{!-- <div class="center">
                <br><br>
                <a class="waves-effect waves-light btn teal" href="/password_change"> Change Password </a>
            </div> --}}

            <div class="center">
                <br><br>
                <a class="waves-effect waves-light btn teal" href="/add_test_result"> Add Test Result </a>
            </div>



            {{!-- <div class="center">
                <br><br>
                <a class="waves-effect waves-light btn teal" href="/logout">Logout</a>
            </div> --}}


        </div>

        <br><br>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="./materialize/js/materialize.min.js"></script>

    </body>
</html>
