
    <section class="container">
        <h3 class="center">Dashboard</h3>
        <h4 class="center orange-text">Welcome <i >{{Details.FirstName}}</i>!</h4>
    </section>

    {{#if Placed}}
    <section class="container center" style="margin-top: 2em;">
        <h5 class="green-text">Already Placed!</h5>
        <p class="grey-text" style="margin-top: -0.5em;">You cannot register for any more tests</p>
    </section>
    {{/if}}


    <section class="container row" style="margin-top: 3em">

        <div class="container col s12 l6 center">

            <h4 class="teal-text center">Upcoming Tests</h4>

            {{!-- <ul>
                {{#each Tests}}
                    <li> {{this.Name}} </li>
                {{/each}}
            </ul> --}}
            {{#each UnregTests}}
                <div class="card blue-grey darken-3 center container" style="padding: 2em; margin-left: auto; margin-right: auto;">
                    <h4 class="orange-text">{{this.Name}}</h4>
                    <div class="row center">
                        <h6 class=" center white-text col s12">by {{this.CompanyName}}</h6>
                    </div>
                    <div class="row">
                        <p class="white-text col s6">Date: {{this.TestDate}}</p>
                        <p class="white-text col s6">Time: {{this.TestTime}}</p>
                        <p class="white-text col s6">Location: {{this.Location}}</p>
                        <p class="white-text col s6">Cut-Off: {{this.CutOffGPA}}</p>
                    </div>
                    <div class="row">
                        <i class="white-text">Status:</i>
                        <i style = "color: rgb(255, 90, 90)">Not Registered!</i>
                    </div>
                    <button class="waves-effect waves-light btn green" onclick = "reg(this)" name = {{this.TestID}}> Register </button>

                </div>
            {{/each}}

            {{#each RegTests}}
                <div class="card blue-grey darken-3 center container" style="padding: 2em; margin-left: auto; margin-right: auto;">
                    <h4 class="orange-text">{{this.Name}}</h4>
                    <div class="row center">
                        <h6 class=" center white-text col s12">by {{this.CompanyName}}</h6>
                    </div>
                    <div class="row">
                        <p class="white-text col s6">Date: {{this.TestDate}}</p>
                        <p class="white-text col s6">Time: {{this.TestTime}}</p>
                        <p class="white-text col s6">Location: {{this.Location}}</p>
                        <p class="white-text col s6">Cut-Off: {{this.CutOffGPA}}</p>
                    </div>
                    <div class="row">
                        <i class="white-text">Status:</i>
                        <i style = "color: rgb(18, 187, 18)">Registered!</i>
                    </div>
                    <button class="waves-effect waves-light btn red" onclick = "unreg(this)" name = {{this.TestID}}> Unregister </button>

                </div>
            {{/each}}

            {{#each IneligibleTests}}
                <div class="card blue-grey darken-3 center container" style="padding: 2em; margin-left: auto; margin-right: auto;">
                    <h4 class="orange-text">{{this.Name}}</h4>
                    <div class="row center">
                        <h6 class=" center white-text col s12">by {{this.CompanyName}}</h6>
                    </div>
                    <div class="row">
                        <p class="white-text col s6">Date: {{this.TestDate}}</p>
                        <p class="white-text col s6">Time: {{this.TestTime}}</p>
                        <p class="white-text col s6">Location: {{this.Location}}</p>
                        <p class="white-text col s6">Cut-Off: {{this.CutOffGPA}}</p>
                    </div>
                    <div class="row">
                        <i class="white-text">Status:</i>
                        <i style = "color: rgb(172, 172, 172)">Cannot register!</i>
                    </div>

                    {{!-- {{#else}} <button class="waves-effect waves-light btn grey" name = {{this.TestID}}> Inadequate GPA </button> {{/else}} --}}
                </div>
            {{/each}}



            <div class="divider"></div>

            <h4 class="teal-text center">Previous Tests</h4>
            {{#each OldTests}}
                <div class="card blue-grey darken-3 center container" style="padding: 2em; margin-left: auto; margin-right: auto;">
                    <h4 class="orange-text">{{this.Name}}</h4>
                    <div class="row center">
                        <h6 class=" center white-text col s12">by {{this.CompanyName}}</h6>
                    </div>
                    <div class="row">
                        <p class="white-text col s6">Date: {{this.TestDate}}</p>
                        <p class="white-text col s6">Time: {{this.TestTime}}</p>
                        <p class="white-text col s6">Location: {{this.Location}}</p>
                        <p class="white-text col s6">Cut-Off: {{this.CutOffGPA}}</p>
                    </div>
                    <div class="row center">
                        {{#if this.Selected}}
                            <button class="btn green"> Selected! </button>
                        {{/if}}
                    </div>

                </div>


            {{/each}}
        </div>

        <div class="col s12 l6" style="padding-left: 3em;">
            <h4 class="teal-text center">Here are your details</h4>
            <br>
            <table class="bordered highlight centered responsive-table"  style = "display:block; overflow-y: scroll; height: 500px">
                <thead>
                    <tr>
                        <th>
                            Field
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            First Name
                        </td>
                        <td>
                            {{Details.FirstName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last Name
                        </td>
                        <td>
                            {{Details.LastName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            USN
                        </td>
                        <td>
                            {{Details.USN}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Department
                        </td>
                        <td>
                            {{Department}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email ID
                        </td>
                        <td>
                            {{Details.EmailID}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mobile Number
                        </td>
                        <td>
                            {{Details.MobileNumber}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address
                        </td>
                        <td>
                            {{Details.Address}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gender
                        </td>
                        <td>
                            {{Details.Gender}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Section
                        </td>
                        <td>
                            {{Details.Section}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Student Type
                        </td>
                        <td>
                            {{Details.StudentType}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Diploma
                        </td>
                        <td>
                            {{Details.DiplomaStudent}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Semester
                        </td>
                        <td>
                            {{Details.Semester}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CGPA
                        </td>
                        <td>
                            {{Details.CGPA}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <br>

    </section>

    {{!-- <div class="center">
        <br><br>
        <a class="waves-effect waves-light btn teal" href="/logout"> Logout </a>
    </div> --}}

    {{!-- <div class="center">
        <br><br>
        <a class="waves-effect waves-light btn teal" href="/password_change"> Change Password </a>
    </div> --}}

    <br><br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./materialize/js/materialize.min.js"></script>
    <script>
        $(".button-collapse").sideNav();
    </script>

        <script>

            function reg(obj)
            {
                //console.log("Reg Function called");
                var testID = obj.name;
                $.ajax({
                    url: '/test_register',
                    type: "POST",
                    datatype: "json",
                    data: {ID: testID},

                    success: function(data)
                    {
                        //console.log("DATA SENT\n" + data);
                        setTimeout(function(){// wait for 5 secs(2)
                            location.reload(); // then reload the page.(3)
                        }, 100);

                    },

                    error: function(jqXHR, textstatus, err)
                    {
                        console.log("\n---------------------------\nAJAX Error: Unable to register for test\n---------------------------\n");
                    }

                });
            }

            function unreg(obj)
            {
                //console.log("Unreg function called");
                var testID = obj.name;
                $.ajax({
                    url: '/test_unregister',
                    type: "POST",
                    datatype: "json",
                    data: {ID: testID},

                    success: function(obj)
                    {
                        //console.log("SUCCESS UNREG");
                        setTimeout(function(){// wait for 5 secs(2)
                            location.reload(); // then reload the page.(3)
                        }, 100);
                    },

                    error: function(jqXHR, textstatus, err)
                    {
                        console.log("\n---------------------------\nAJAX Error: Unable to un-register for test\n---------------------------\n");
                    }
                });
            }
        </script>
    </body>
</html>
